
<body>
  <p><strong>Функционал:</strong></p>
  <p>
    <strong>- получение списка постов<br /></strong>
    изменения поста сохраняется при смене страницы<br />
    список постов обновляется при обновлении страницы<br /><br />
    <strong>- публикация поста<br /></strong>
    вводить можно любые символы<br />
    допускается пустое значение<br />
    возможность удаления поста<br />
    допускается отсутствие постов<br />
    <br />
    <strong> - получение списка комментариев для поста<br /></strong>
    задание провалено. не справилась с двумерным массивом.<br />
    комментарии отображаются как общие для всех постов.<br /><br />
    <strong>- публикация комментария<br /></strong>
    вводить можно любые символы<br />
    допускается пустое значение<br />
    возможность удаления пкомментария<br />
    допускается отсутствие комментариев<br />
    <br />

  </p>
  <p><br />
    <a href="" (click)="sendMeHome()"> Вернуться к приложению</a>
  </p>
</body>
